#headerIcons {
  float: right;
}

#headerIcons2 {
  float: right;
  margin-left: 10px;
}

 hr { 
  border-top: gray 10px solid;
  /* background-color: greenyellow; */
  /* size: 10px; */
} 

ul {
  list-style-type: none;
}

label input[type=checkbox]:checked + span{
  text-decoration: line-through;
}

/* #pgbrk {
  position: absolute;
  background-repeat: repeat-x;
} */

#line {
  z-index: -1;
}

/* #Fork {
  /* display: block;
  float: center; */
} */

footer p {
  text-align: center;
  font-size: smaller;
  
}